<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestTrack</title>
</head>
<body>
    <form method="post">
        <center>
            <h1>
                Home Page
            </h1>
            <input type="button" value="Student Dashboard" onclick="window.location.href='{% url 'stddashboard' %}'">
            <input type="button" value="Admin Dashboard" onclick="window.location.href='{% url 'admindashboard' %}'">
        </center>
    </form>
</body>
</html>